.paint-list-container {
    padding: 1rem;
    height: calc(75vh - 2rem);
    z-index: 1;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    .img-list-item {
        width: 100%;
        transition: all .25s;
        &:hover {
            transform: scale(1.05);
        }
    }
}
