$main-color: #81856b;
$secondary-color: #000;
.content-wrapper {
    display: flex;
    max-width: 100%;
    box-sizing: border-box;
    height: 100vh;
    width: 80%;
    flex-direction: column;
    box-sizing: border-box;
    .h-90vh {
        height: 90vh;
    }
    .center-center {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .overflow-hidden {
        overflow: hidden;
    }
    .counter-list {
        display: inline-flex;
        border-bottom: 1px solid $main-color;
        width: 100%;
        // padding-bottom: 1rem;
        box-sizing: border-box;
        height: 10vh;
        justify-content: center;
        align-items: center;
        .counter-item {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            color: $secondary-color;
            width: fit-content;
            margin: 0 1rem 0 1rem;
            font-weight: 600;
            transition: all .25s;
            .counter-item-icon {
                display: flex;
                width: 5rem;
                padding: 1rem;
                box-sizing: border-box;
                img {
                    width: 100%;
                }
            }
            p {
                margin: 0;
                padding: 0;
                text-transform: uppercase;
                font-size: .75rem;
            }
        }
        .counter-item-active {
            color: $main-color;
            .square {
                border: 2px solid $main-color;
                background-color: $main-color;
            }
        }
    }
}

@media (max-width: 992px) {
    .counter-list {
        .counter-item {
            align-items: center;
            justify-content: center;
            .counter-item-icon {
                padding: .25rem !important;
                width: fit-content !important;
                img {
                    width: 1.5rem !important;
                }
            }
            .content, p {
                font-size: .4rem !important;
            }
        }
        .counter-item-active {
            .square {
            }
        }
    }
}