.enviroment-set {
    position: relative;
    img {
        position: relative;
        width: 100%;
    }
    img:nth-child(2) {
        position: absolute;
        left: 0;
        top: 0;
    }   
}