$main-color: #81856b;
.sets-container {
    box-sizing: border-box;
    padding: 1rem;
    max-height: 100vh;
    overflow: auto;
    padding-bottom: 30vh;
    z-index: 1;
    .item-price {
        font-size: .75rem;
    }
    .set-card {
        width: calc(100% - 0rem);
        padding: 1rem;
        box-sizing: border-box;
        // border-radius: .5rem;
        .set-card-title {
            width: calc(100% - 2rem);
            padding: .25rem 1rem;
            background-color: $main-color;
            margin-bottom: 1rem;
            font-weight: 900;
        }
        .set-card-content {
            display: flex;
            align-items: flex-start;
        }
        .image-color-list-container {
            width: fit-content;
            display: flex;
            margin-right: .5rem;
            height: 100%;
            .image-color-list {
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 0;
                margin: 0;
                height: 100%;
                li {
                    display: flex;
                    & > div {
                        margin-right: .5rem;
                    }
                    margin-bottom: .5rem;
                }
                .image-color {
                    width: 1rem;
                    height: 1rem;
                    cursor: pointer;
                    border: 2px solid transparent;
                }
                .image-color-active {
                    border: 2px solid #000;
                }
            }
        }
        .set-image {
            transform: scale(1.5) translateY(20%);
            pointer-events: none;
        }
        .img-wrapper {
            width: 100%;
            cursor: pointer;
            position: relative;
            img {
                width: 100%;
                object-fit: cover;
                opacity: 0;
            }
            img:nth-child(1) {
                z-index: 2;
            }
            img:nth-child(2) {
                z-index: 1;
                position: absolute;
                top: 0;
                opacity: 1;
            }
            .check {
                position: absolute;
                bottom: 0;
                right: 0;
                opacity: 0;
                transition: all .25s;
                z-index: 10;
                svg {
                    width: 1.75rem;
                    height: 1.75rem;
                    color: $main-color;
                }
            }
        }
    }
    .enviroment-active {
        .check {
            opacity: 1 !important;
        }
    }
}









